<h1>Search Flights</h1>

<%= form_tag(root_path, method: :get) do%>
	<%= hidden_field_tag :search %>

	<%= label_tag "From:" %>
	<%= select_tag :from, options_for_select(@from_airports, params[:from]) %>
	<%= label_tag "To:" %>
	<%= select_tag :to, options_for_select(@to_airports, params[:to]) %>
	<%= label_tag "Passengers:" %>
	<%= select_tag :num_passengers, options_for_select([1, 2, 3, 4] , params[:num_passengers]) %>
	<%= label_tag "Date:" %>
	<%= select_tag :date, options_for_select(@dates, params[:date]) %>
	<%= submit_tag "Search" %>
<% end %>