<h1>New Booking</h1>

<%= "Date: #{@booking.flight.date.strftime("%m/%d/%Y at %H:%M")} From: #{@booking.flight.from_airport.code} To: #{@booking.flight.to_airport.code} Flight id: #{@booking.flight.id}" %></br></br>

<%= form_for :booking do |f| %>
	<%= f.hidden_field :id, :value => @booking.flight.id %>
	<h3>Passenger Information</h3>

	<% @passenger_number.to_i.times do %>
		<%= f.fields_for :passengers do |pass| %>
			<%= pass.label :name %>
			<%= pass.text_field :name %>

			<%= pass.label :email %>
			<%= pass.email_field :email %>
		<% end %>
	<% end %></br></br>
<%= f.submit %>
<% end %>
